@use "../../styles/scss/_variables" as v;

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 2rem);
    position: relative;
    z-index: 9;
    .textZone {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 2rem;
        gap: 4rem;
        & > .aboutTag {
            font-family: v.$kaushan-script;
            font-size: 1.2rem;
            letter-spacing: 2px;
            color: v.$primary-color;
            margin-left: -2rem;
            position: absolute;
        }
        .topTag {
            margin-top: 5rem;
            animation: fadeLeft 1s 0.1s backwards;
            top: 0;
        }
        .bottomTag {
            margin-bottom: 5rem;
            animation: fadeLeft 1s 0.5s backwards;
            bottom: 0;
        }
        .textArea {
            flex: 3;
            margin-left: 4rem;
            & > .heading {
                &::before {
                    content: "<h1>";
                    animation: fadeLeft 1s 0.2s backwards;
                    margin-inline-end: 2rem;
                }
                &::after {
                    content: "</h1>";
                    animation: fadeLeft 1s 0.4s backwards;
                    margin-inline-start: 2rem;
                }
                &::after,
                &::before {
                    display: inline-block;
                    font-family: v.$kaushan-script;
                    font-size: 1.2rem;
                    letter-spacing: 2px;
                    color: v.$primary-color;
                }
            }
            & > h1.heading > span > span {
                font-family: v.$kaushan-script;
                font-size: 6rem;
            }
            & > p.aboutQuote {
                position: relative;
                font-family: "Coolvetica";
                letter-spacing: 2px;
                font-size: 15px;
                font-weight: lighter;
                margin-block: 2rem;
                animation-name: fadeLeft;
                animation-duration: 1s;
                animation-fill-mode: backwards;
                z-index: 99;
            }
        }
        .icons {
            flex: 1;
            top: 0;
            right: 0;
            height: 40vh;
            margin-left: 0;
            overflow: hidden;
        }
    }
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(-20vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (max-width: 720px) {
    .container {
        margin-right: 3rem;
    }
}
