@import "../../styles/scss/_variables";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.text__animate {
    opacity: 0;
    animation: bounce;
    display: inline-block;
    animation-fill-mode: forwards;
    animation-duration: .5s;
    min-width: 10px;
    padding: 5px;
    transition: .1s;
    font-family: 'Kaushan Script';
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
        color: $primary-color;
    }
}

@keyframes bounce {
    0% {
        scale: 0;
    }
    70% {
        scale: 1.2;
        opacity: 1;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}
