@import "../../styles/scss/_variables";

.text__animate {
    opacity: 0;
    animation: bounce;
    display: inline-block;
    animation-fill-mode: forwards;
    animation-duration: .5s;
    min-width: 10px;
    padding: 5px;
}

@keyframes bounce {
    0% {
        scale: 0;
    }
    70% {
        scale: 1.2;
        opacity: 1;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}