$primary-color: #ffd700;

$primary-bg-color: #022c43;

$dark-bg-color: #181818;

$kaushan-script: 'Kaushan Script', cursive;

$fira-sans: 'Fira Sans', sans-serif;

$barcode-font: 'Libre Barcode 39 Text', cursive;

$mono-font: 'Major Mono Display', monospace;

$handwritng-font: 'Satisfy', cursive;